<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Submitted form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
 <body>
   <div class="container">
    <h3>Users</h3>
     {% for user in users %}
     <div class="form-group">
       <p>
          <strong>Name</strong>: {{user.name}} <br>
          <strong>Email</strong>: {{user.email}} <br>
          <strong>Website URL</strong>: {{user.url}} <br>
          <strong>Comments</strong>: {{user.comments}}
       </p>
     </div>
     {% endfor %}
   </div>
 </body>
</html>
